@charset "UTF-8" ;


body {
    background-color: #000000;
}


h5 {
    color: #FF914D;
    text-align: center;
    font-size: 2.5em;
}

p {
    text-align: center;
    font-size: 1.2em;
}

#forms {
    background-color: #202020;
    color: aliceblue;
    width: 350px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.534);
}

#enviar {
    text-align: center;
}

#logar{
    color: white;
    background-color: #FF914D;
    font-size: 1.1em;
}

#cadastrar {
    color: white;
    background-color: #FF914D;
    font-size: 1.1em;
}