@charset "UTF-8" ;

#inicio {
    background-color: #202020;
    color: aliceblue;
    max-width: 1100px;
    min-height: 350px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.534);
}

img {
    width: 110px;
    margin: 135px;
    margin-top: -60px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

h5 {
    margin-top: 50px;
    margin-left: 130px;
} 

p {
    text-align: center;
    margin-bottom: 30px;
}
